<ion-tabs>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="choice">
      <ion-icon name="triangle"></ion-icon>
      <ion-label i18n="Choice Title">Language choice</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="red">
      <ion-icon name="ellipse" color="danger"></ion-icon>
      <ion-label i18n="Red Fruits Title">Red fruits</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="yellow">
      <ion-icon name="square" color="warning"></ion-icon>
      <ion-label i18n="Yellow Fruits Title">Yellow fruits</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>
