<ion-header>
  <ion-toolbar>
    <ion-title>{{'choice.title'|transloco}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-text-center">

  <div class="ion-padding ion-text-center">
    <ion-button (click)="changeLang('fr')">FR</ion-button>
    <ion-button (click)="changeLang('en')">EN</ion-button>
  </div>

  <div class="ion-text-center ion-padding-top">{{'choice.today_is'|transloco}}</div>
  <div class="ion-text-center">{{date|translocoDate}}</div>

  <div class="ion-padding-top">{{'choice.win'|transloco:{sum: 10000000000 | translocoCurrency, percent: 0.1 | translocoPercent} }}</div>

</ion-content>
